.arimo-font {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.mulish-font {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
	text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  letter-spacing: 0.4rem;
  font-size: 16pt;
  margin: 0;
  padding: 0;
}

.image-container {
  display: grid;
  width: 100%;
}

.header-thumb {
  z-index: 0;
  height: 600px;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.75) blur(5px);
}

.header-thumb, .header-content {
  grid-area: 1 / 1;
}

.header-content {
  z-index: 1;
  place-self: center;
  height: 600px;
  margin: none;
  padding: none;
  text-shadow: 5px 5px 8px black;
}

.header-banner-dark {
  margin: 0;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.25);
}
.main-content {
  left: 0px; right: 0px; top: 600px;
  height: 600px;
  text-align: center;
  background-color: #000000;
  color: #9F9F9F;
  letter-spacing: 0.2rem;
  font-size: 12pt;
}

.footer-banner {
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  letter-spacing: 0.2rem;
  font-size: 8pt;
}

.line-bar {
  background-color: #9F9F9F;
  width: 50px;
}

.box-field {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #9F9F9F;
  border-radius: 2px;
  color: #9F9F9F;
  width: 40%;
  height: 5%;
  font-size: 16pt;
}

.submit-button {
  border-radius: 2px;
  font-size: 12pt;
  font-weight: 800;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #7F7F7F;
  color: #000000;
  transition: 0.25s;
  user-select: none;
}

.submit-button-allowed {
  border-radius: 2px;
  font-size: 12pt;
  font-weight: 800;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #EFEFEF;
  color: #000000;
  transition: 0.25s;
  user-select: none; 
}

.submit-button:hover {
  cursor: not-allowed;
}

.submit-button-allowed:hover {
  cursor: pointer;
  background-color: #7F7F7F;
  transition: 0.25s;
}

.submit-button-allowed:active {
  cursor: pointer;
  background-color: #FFFFFF;
  transition: 0.25s;
}

.main-container {

}